.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-jump);
  margin-bottom: var(--space-lg);
}

.post h2{
  margin-top: 0.5rem;
  font-size: var(--small-heading3);
  font-weight: 400;
}
.post figure{
  position: relative;
  /* aspect-ratio: 16/9; */
}
